*{
    font-family: 'karla';
}
.dashboard_form {
    background-color: #F6FBF9;
    border-radius: 15px;
    width: fit-content;
    padding: 20px;
    margin-top: 7%;
}

.dash_btn{
    line-height: 43.87px;
    font-size: 16.75px;
    background-color: #84C7AE;
    font-family: 'karla';
}
.title_table{
    background-color: #84C7AE;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 5px;
    
}
.table_header{
    margin-right: 30px;
    margin-left: 10px;
}
.total_div{
    font-size: 22px;
    font-family: 'karla';
    font-weight: 900;   
    background-color: #84C7AE;
    margin-top: 40px;
    color: white;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}