*{
    font-family: 'karla';
}
button {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 180px;
    border: 0.01px solid #84C7AE;
}
.product_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: #F6FBF9;
    width: 40%;
    padding: 23px;
    margin: 10% auto;
}

