*{
    font-family: 'karla';
}
.Sign_up_form {
    background-color: #F6FBF9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 50px;
    margin: 130px auto;
    width: fit-content;
    border-radius: 50px;
}
input{
    width: 450px;
    height: 40px;
    border-radius: 8px;
    padding: 8px;
    font-weight: 400;
    font-size: 19px;
    font-family: 'karla';
    line-height: 19.5px;
    border: 0.05px solid rgb(163, 158, 158);
    margin-top: 18px;
}
.agreement_text{
    margin-top: -33px;
    margin-left: -180px;
}
input[type="checkbox"]{
    width: 15px;
    margin: 0;
    padding: 0;
    display: inline;
    align-self: flex-start;
}
button{
    line-height: 43.87px;
    font-size: 20.75px;
    width: 220px;
    background-color: #84C7AE;
    color: white;
    border-radius: 16px;
    font-weight: 700;
    font-family: 'karla';
}
.signin_link{
    margin-top: 20px;
    color: #32403B;
    margin-bottom: 0;
}